@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

:root { /*definir variaveis*/
    --cor-primaria: black;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box; 
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);   
}
strong {
    color: var(--cor-terciaria);
}
.texto-paragrafo {
    color: aquamarine;
} 

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-terciaria);
    font-family: 'monterrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem; /*acompanha a unidade de medida do navegador, 1rem = 16px*/
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    line-height: 40px;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao { 
    border: var(--cor-terciaria) 2px solid; /*borda do botão do link*/
    width: 378px; /*Largura do link*/
    text-align: center; 
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 16px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.apresentacao__links__navegacao:hover  { /*Muda a cor, adiciona efeito ao botão*/
    background-color: #272727;
    cursor: pointer;
    padding: 3%;
}

.apresentacao__imagem {
    width: 50%;
    height: auto;
}

.rodape {
    padding: 24px;
    font-weight: 36px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-family: 'montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 917px) { /*caso for menor que 917px vai alterar a pag*/
     .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        text-align: center;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}